<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <!-- Remove WebDAV module to allow PUT and DELETE requests -->
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <!-- Remove WebDAV handler to allow PUT and DELETE requests -->
      <remove name="WebDAV" />
    </handlers>
  </system.webServer>
</configuration>
